<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="com.breskeby.eclipse.gradle.contribution1">
         <menu
               label="Gradle"
               path="additions"
               id="com.breskeby.eclipse.gradle.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Run"
               class="com.breskeby.eclipse.gradle.popup.actions.GradleRunAction"
               menubarPath="com.breskeby.eclipse.gradle.menu1/group1"
               enablesFor="1"
               id="com.breskeby.eclipse.gradle.newAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.core.contenttype.contentTypes">
   		<content-type base-type="org.eclipse.core.runtime.xml"
			file-names="build.gradle"
			file-extensions="gradle"
            id="com.breskeby.eclipse.gradle.contenttype.buildfile"
            name="Gradle build file"
            priority="normal">
      			<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         				<parameter name="element" value="apples"/>
				</describer>
   		</content-type>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
      <editor
            class="com.breskeby.eclipse.gradle.editor.GradleEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="gradle"
            icon="icons/groovy_file.gif"
            id="com.breskeby.eclipse.gradle.editor.GradleEditor"
            name="Gradle Editor">
         <contentTypeBinding
               contentTypeId="org.codehaus.groovy.eclipse.groovySource">
         </contentTypeBinding>
      </editor>
   </extension>
</plugin>
