<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.contenttype.contentTypes">
   		<content-type base-type="org.eclipse.core.runtime.xml"
			file-names="build.gradle"
			file-extensions="gradle"
            id="com.breskeby.eclipse.gradle.contenttype.buildfile"
            name="Gradle build file"
            priority="normal">
      			<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         				<parameter name="element" value="apples"/>
				</describer>
   		</content-type>
	</extension>
	<extension point="org.eclipse.debug.ui.consoleColorProviders">
      <consoleColorProvider
            class="com.breskeby.eclipse.gradle.ui.console.GradleConsoleColorProvider"
            processType="org.breskeby.eclipse.gradle.gradleProcess"
            id="com.breskeby.eclipse.gradle.ui.consoleColorProvider">
      </consoleColorProvider>
   </extension>
	<extension point="org.eclipse.ui.editors">
      <editor
            class="com.breskeby.eclipse.gradle.editor.GradleEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="gradle"
            icon="icons/gradle_file.gif"
            id="com.breskeby.eclipse.gradle.editor.GradleEditor"
            name="Gradle Editor">
         <contentTypeBinding
               contentTypeId="org.codehaus.groovy.eclipse.groovySource">
         </contentTypeBinding>
      </editor>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.breskeby.eclipse.gradle.preferences.GradlePreferenceInitializer"/>
	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePage.gradlePreferences"
            class="com.breskeby.eclipse.gradle.preferences.GradleRuntimePreferencePage"
            id="com.breskeby.eclipse.gradle.preferences.GradleRuntimePreferencePage">
      </page>
   </extension>
   <extension
         id="gradleRunner"
         point="org.eclipse.core.runtime.applications">
     <application>
         <run
               class="com.breskeby.eclipse.gradle.GradleRunner">
         </run>
      </application>
   </extension>
	<!--
   
   -->
       
    
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="com.breskeby.eclipse.gradle.launchConfigurations.GradleLaunchDelegate"
            delegateDescription="%GradleLaunchDelegate.description"
            delegateName="%GradleLaunchDelegate.name"
            id="com.breskeby.eclipse.gradle.GradleLaunchConfigurationType"
            migrationDelegate="com.breskeby.eclipse.gradle.launchConfigurations.GradleMigrationDelegate"
            modes="run"
            name="%GradleBuild"
            sourceLocatorId="org.eclipse.ant.ui.debug.sourceLookupDirector"
            sourcePathComputerId="org.eclipse.ant.ui.debug.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="com.breskeby.eclipse.gradle.GradleLaunchConfigurationType"
            helpContextId="org.eclipse.ui.externaltools.launchConfigHelpContext.ant"
            description="%gradleLaunchConfigurationTabGroup.description"
            class="com.breskeby.eclipse.gradle.launchConfigurations.GradleTabGroup"
            id="com.breskeby.eclipse.gradle.launchConfigurationTabGroup.gradle">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="com.breskeby.eclipse.gradle.launchConfigurations.GradleLaunchShortcut"
            description="%GradleBuildShortcut.description"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.antShortcut"
            icon="icons/run_gradle_build.gif"
            id="com.breskeby.eclipse.gradle.ui.gradleShortcut"
            label="%GradleLaunchShortcut.label"
            modes="run, debug">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesContentType" value="com.breskeby.eclipse.gradle.contenttype.buildfile"/>
                 </or>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%GradleLaunchShortcut.label"/>
  		 </contextualLaunch>
        <configurationType
              id="com.breskeby.eclipse.gradle.GradleLaunchConfigurationType">
        </configurationType>
      </shortcut>
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="com.breskeby.eclipse.gradle.launchConfigurations.GradleLaunchShortcutWithDialog"
            description="%GradleBuild...Shortcut.description"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.antShortcut"
            icon="icons/run_gradle_build.gif"
            id="com.breskeby.eclipse.gradle.ui.gradleShortcutWithDialog"
            label="%GradleLaunchShortcutWithDialog.label"
            modes="run, debug">
        <contextualLaunch>
        	<enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesContentType" value="com.breskeby.eclipse.gradle.contenttype.buildfile"/>
                 </or>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%GradleLaunchShortcutWithDialog.label"/>
          <contextLabel
         	  mode="debug"
         	  label="%GradleLaunchShortcutWithDialog.label"/>
  		 </contextualLaunch>
        <configurationType
              id="com.breskeby.eclipse.gradle.GradleLaunchConfigurationType">
        </configurationType>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
          adaptableType="org.eclipse.ui.IFileEditorInput"
          class="com.breskeby.eclipse.gradle.adapters.GradleIFileEditorInputAdapterFactory">
       <adapter
             type="org.codehaus.groovy.ast.ClassNode">
       </adapter>
    </factory>
   </extension>
</plugin>
